<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AntiRagging</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupServlet</display-name>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>signupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupServlet</servlet-name>
    <url-pattern>/signupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchServlet</display-name>
    <servlet-name>searchServlet</servlet-name>
    <servlet-class>searchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet</servlet-name>
    <url-pattern>/searchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchFeedbackServlet</display-name>
    <servlet-name>searchFeedbackServlet</servlet-name>
    <servlet-class>searchFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchFeedbackServlet</servlet-name>
    <url-pattern>/searchFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchGrievanceServlet</display-name>
    <servlet-name>searchGrievanceServlet</servlet-name>
    <servlet-class>searchGrievanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchGrievanceServlet</servlet-name>
    <url-pattern>/searchGrievanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertGrievanceServlet</display-name>
    <servlet-name>insertGrievanceServlet</servlet-name>
    <servlet-class>insertGrievanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertGrievanceServlet</servlet-name>
    <url-pattern>/insertGrievanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertFeedbackServlet</display-name>
    <servlet-name>insertFeedbackServlet</servlet-name>
    <servlet-class>insertFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertFeedbackServlet</servlet-name>
    <url-pattern>/insertFeedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>